footer {
  position: fixed;
  bottom: 0;
  background-color: white;
  width: 100%;
  display: flex;
  max-width: 425px;
  justify-content: center;
  max-height: 1000px;
  box-shadow: 0 0 20px rgb(0 0 0 / 10%);
  flex-direction: column;
  color: black;
  font-family: sans-serif;
  font-size: 0.9rem;
  border-radius: 10px 10px 0px 0px;
  z-index: 100;
}
.nav {
  max-width: 425px;
  width: 100%;
  height: auto;
  flex-direction: column;
  display: flex;
}

label {
  display: flex;
  justify-content: center;
}
footer ul {
  display: inline-flex;
}
footer li {
  display: inline-flex;
  list-style: none;
  cursor: pointer;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: auto;
  padding: 15px 0;
}
footer li:first-child {
  border-radius: 10px 0 0 0;
}
footer li:last-child {
  border-radius: 0 10px 0 0;
}
footer li label {
  margin-top: 3px;
}
footer li:hover {
  background-color: #ccc;
}

footer li:first-child:hover {
  background-color: #ccc;
  border-radius: 10px 0px 0px 0px;
}

.active {
  background-color: #ccc;
}
a {
  text-decoration: none;
  color: white;
}
a:hover {
  color: #b7938f;
}

.location {
  background-color: #f5f5f6;
  width: 100%;
  padding: 30px 50px 120px 50px;
  position: fixed;
  margin: 0 auto;
  left: 0;
  right: 0;
  bottom: 0;
  max-width: 425px;
  max-height: 90vh;
  z-index: 10;
  font-size: 1.2rem;
}
.location ul {
  list-style: none;
  display: flex;
  align-items: center;
}
.location li {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.display-none {
  display: none;
}
.display-block {
  display: block;
}
