.ucapan {
  max-width: 425px;
  width: 100%;
  display: flex;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.15);
  flex-direction: column;
  height: auto;
  background-color: hsl(0, 0%, 98%);
  align-items: center;
  padding: 40px 80px 40px 80px;
  text-align: center;
}
.ucapan h2 {
  margin-bottom: 20px;
  opacity: 0.8;
  font-size: 2rem;
  font-family: "Parisienne", cursive;
}
.name-anda{
  width: 100%;
  height: 50px;
  text-align: center;
  margin-bottom: 20px;
  font-size: 1rem;
  opacity: 0.8;
  outline-color: #b7938f;
  border-radius: 5px;
  border-width: 1px;
  border-color: #373434;
}
.ucapan-anda
{
    width: 100%; 
    text-align: center;
    font-size: 1.2rem;
    outline-color: #b7938f;
    opacity: 0.8;
    border-radius: 5px;
    border-color: #373434;
}

